<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        <name>Leaflet</name>
       
		<description>
            blabla
        </description>
        <author "Tim Lars und Philipp"
            
        </author>
        <content src="index.html" />
        <access origin="*" />
		<icon src="icon.png" />
        <icon src="res/icon.png"   gap:platform="android"    gap:qualifier="icon" />
    </widget>
